* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("https://i.pinimg.com/originals/5f/ee/8e/5fee8e4a9fea271529cfd8828dd990d5.gif");
  background-size: auto 100vh;
  height: 100vh;
  /*width: 100vw;*/
  font-family: monospace;
  font-size: 14px;
}

@media (min-width: 500px){
  body{
    font-size: 20px;
  } 
  
}

@media(min-width: 1200px){
  header div{
    font-size: 30px;
  }
 
}

@media (min-width: 640px){
  .gitHub .grid{
    grid-template-columns: 250px 250px;
    justify-content: space-around;
  }
  
}

@media (max-width:1000px){
  .contato a{
    font-size: 3em;
  }
  .img-portfolio{
    height: 150px;
    width: 180px;
  }
}

@media (min-width:1000px){
  .img-portfolio{
    height: 180px;
    width: 250px;
  }
}

@media (min-width:1000px){
  .contato a{
    font-size: 4em;
  }
}


header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  background: rgba(216, 7, 153, 0.0);
  position: fixed;
  width: 100vw;
  top: 0.0;
  z-index: 1; /*o menu vai ter prioridade sobre os outros elementos no eixo z*/
}

.menu ul{
  display: flex;
  justify-content: space-around;
}
.menu li{
  list-style:none;
  font-family: monospace;
  font-weight: bold;
}

.menu a{
  display: block;
  background-color: tomato;
  padding: 10px;
  transition: color 1s, font-size 1s;
}
a{
  text-decoration: none;
  color: rgb(251, 255, 255);
}

.menu  a:active,
.menu a:hover{
  font-size: 1.3em;
  color: rgb(38, 209, 209);
}

.titulo{
  transform: scale(0.2);
  opacity: 0;
  animation: linear 2s introTitulo forwards; 
}

@keyframes introTitulo{
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.site-subtitle, .site-title{
  text-align: center;
  color: whitesmoke;
}

.site-title{
  font-family: 'Squada One', cursive;
  font-size: 2.5em;
}
.site-subtitle{
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1em;
}

.contato,
.gitHub{
  padding: 2em;
  min-height: 100vh;
  width: auto;
  margin: 2em;
}

.contato h2,
.gitHub h2{
  font-family: 'Orbitron', sans-serif;
  color: whitesmoke;
  font-size: 2em;
  margin-bottom: 1.5em;
  text-align: center;
  line-height:2em;
}

.gitHub figure{
  text-align: center;
}
.gitHub .grid{
  display: grid;
  gap: 2em;
  text-align: center;
}

.grid figcaption a{
  background-color: tomato;
}

.grid figcaption{
  margin: 1.5em 0em;
}

.grid figcaption a:hover{
  color: rgb(38, 209, 209);
}

.contato .icons{
  text-align: center;
}

.contato a{
  transition: color 1s,text-shadow 1s;
}

.contato a:active,
.contato a:hover{
  text-shadow: 2px 4px 7px blueviolet;
  color: rgb(38, 209, 209);

}
.img-portfolio{
  /*height: 150px;
  width: 220px;*/
  object-fit: cover;
  border-radius: 10%;
  transition: transform 500ms;
  opacity: 0.8;
}

.img-kaline{
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 10px 0px 10px 0px rgb(3, 12, 14);
  opacity: 0.8;
}

.titulo{
  text-align: center;
}

.img-kaline:active,
.img-kaline:hover{
  transform: scale(1.1);

}

.grid figcaption{
  color: whitesmoke;
  text-align: left;
}

.img-portfolio:active,
.img-portfolio:hover{
  transform: scale(1.1);
}
